[submodule "modules/cilantro"]
	path = modules/cilantro
	url = https://github.com/kzampog/cilantro.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/nlohmann/json.git
[submodule "modules/tclap"]
	path = modules/tclap
	url = https://github.com/mirror/tclap.git
